<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrshiehx.mschatroom">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:name=".MSChatRoom">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <activity
            android:name=".start.screen.StartActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
            android:label="@string/app_name_short">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chat.screen.ChatScreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/activity_chat_screen_name">
        </activity>
        <activity
            android:name=".login.screen.LoginScreen"
            android:configChanges="keyboardHidden|orientation|screenSize|locale|layoutDirection"
            android:label="@string/activity_login_screen_name">
        </activity>
        <activity
            android:name=".register.screen.RegisterScreen"
            android:configChanges="keyboardHidden|orientation|screenSize|locale|layoutDirection"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/activity_register_screen_name">
        </activity>
        <activity
            android:name=".settings.screen.SettingsScreen"
            android:configChanges="keyboardHidden|orientation|screenSize|locale|layoutDirection"
            android:label="@string/activity_settings_screen_name">
        </activity>
        <activity
            android:name=".reset_password.screen.ResetPasswordScreen1"
            android:configChanges="keyboardHidden|orientation|screenSize|locale|layoutDirection"
            android:label="@string/activity_reset_password_name"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
        </activity>
        <activity
            android:name=".reset_password.screen.ResetPasswordScreen2"
            android:configChanges="keyboardHidden|orientation|screenSize|locale|layoutDirection"
            android:label="@string/activity_reset_password_name"/>
        <activity
            android:name=".account.profile.screen.AccountProfileScreen"
            android:configChanges="keyboardHidden|orientation|screenSize|locale|layoutDirection"
            android:label="@string/activity_modify_user_information_screen_name">
        </activity>
        <activity
            android:name=".login.by_ec.screen.LoginByEmailAndCAPTCHA"
            android:configChanges="keyboardHidden|orientation|screenSize|locale|layoutDirection"
            android:label="@string/activity_login_by_ec_screen_name"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
        </activity>
        <activity
            android:name=".main.screen.MainScreen"
            android:configChanges="keyboardHidden|orientation|screenSize|locale|layoutDirection"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".about.screen.AboutScreen"
            android:configChanges="keyboardHidden|orientation|screenSize|locale|layoutDirection"
            android:label="@string/activity_about_screen_name">
        </activity>
        <activity
            android:name=".picture_viewer.screen.PictureViewerScreen"
            android:configChanges="keyboardHidden|orientation|screenSize|locale|layoutDirection"
            android:label="@string/activity_picture_viewer_name"
            android:theme="@android:style/Theme.DeviceDefault">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="picture_viewer"
                    android:scheme="mscr"
                    android:path="/view" />
                <data
                    android:host="picture_viewer"
                    android:scheme="mschatroom"
                    android:path="/view" />
                <data
                    android:host="pv"
                    android:scheme="mscr"
                    android:path="/view" />
                <data
                    android:host="pv"
                    android:scheme="mschatroom"
                    android:path="/view" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.mrshiehx.mschatroom.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <service android:name=".services.AutoReconnectService"
            android:exported="true"
            android:enabled="true"/>
    </application>
</manifest>