<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mrshiehx.mschatroom">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".MyApplication">
        <activity
            android:name=".StartScreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name_short">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data
                    android:scheme="mscr"
                    android:host=""/>
                <data
                    android:scheme="mschatroom"
                    android:host=""/>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chat.screen.ChatScreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/activity_chat_screen_name">
            <!--intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter-->
            <intent-filter>
                <data
                    android:host="chat"
                    android:scheme="mscr"/>
                <data
                    android:host="chat"
                    android:scheme="mschatroom"/>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.screen.LoginScreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/activity_login_screen_name">
            <!--intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter-->
            <intent-filter>
                <data
                    android:host="login"
                    android:scheme="mscr"/>
                <data
                    android:host="login"
                    android:scheme="mschatroom"/>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".register.screen.RegisterScreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/activity_register_screen_name">
            <!--intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter-->
            <intent-filter>
                <data
                    android:host="register"
                    android:scheme="mscr"/>
                <data
                    android:host="register"
                    android:scheme="mschatroom"/>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.screen.SettingsScreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/activity_settings_screen_name">
            <!--intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter-->
            <intent-filter>
                <data
                    android:host="settings"
                    android:scheme="mscr"/>
                <data
                    android:host="settings"
                    android:scheme="mschatroom"/>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PETest"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="PETEST">
            <intent-filter>
                <data
                    android:host="test"
                    android:scheme="mscr"/>
                <data
                    android:host="test"
                    android:scheme="mschatroom"/>
                <data
                    android:host="petest"
                    android:scheme="mscr"/>
                <data
                    android:host="petest"
                    android:scheme="mschatroom"/>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".reset_password.screen.ResetPasswordScreen1"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/activity_reset_password_name">
            <!--intent-filter>
                 <action android:name="android.intent.action.MAIN" />

                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter-->
            <intent-filter>
                <data
                    android:host="rs"
                    android:scheme="mscr"/>
                <data
                    android:host="rs"
                    android:scheme="mschatroom"/>
                <data
                    android:host="reset_password"
                    android:scheme="mscr"/>
                <data
                    android:host="reset_password"
                    android:scheme="mschatroom"/>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".reset_password.screen.ResetPasswordScreen2"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/activity_reset_password_name">
            <!--intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter-->
        </activity>
        <activity
            android:name=".modify_user_information.screen.ModifyUserInformationScreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/activity_modify_user_information_screen_name">
            <intent-filter>
                <data
                    android:host="mui"
                    android:scheme="mscr"/>
                <data
                    android:host="mui"
                    android:scheme="mschatroom"/>
                <data
                    android:host="modify_user_information"
                    android:scheme="mscr"/>
                <data
                    android:host="modify_user_information"
                    android:scheme="mschatroom"/>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login_by_ec.screen.LoginByEmailAndCAPTCHA"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/activity_login_by_ec_screen_name">
            <intent-filter>
                <data
                    android:host="lbec"
                    android:scheme="mscr"/>
                <data
                    android:host="lbec"
                    android:scheme="mschatroom"/>
                <data
                    android:host="login_by_email_and_captcha"
                    android:scheme="mscr"/>
                <data
                    android:host="login_by_email_and_captcha"
                    android:scheme="mschatroom"/>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.screen.MainScreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <data
                    android:host="main"
                    android:scheme="mscr"/>
                <data
                    android:host="main"
                    android:scheme="mschatroom"/>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".about.screen.AboutScreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/activity_about_screen_name">
            <intent-filter>
                <data
                    android:host="about"
                    android:scheme="mscr"/>
                <data
                    android:host="about"
                    android:scheme="mschatroom"/>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.mrshiehx.pickphoto.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>